@media (max-width: 991px) {
    .promo {

        .header {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .benefits {
        &__wrapper {
            display: flex;
            justify-content: space-around;
            width: 100%;
        }
    }

    .consultation {
        .title {
            &_left {
                font-size: 32px;
                margin-left: 30px;
            }
        }

        &__text {
            font-size: 18px;
            margin-left: 30px;
        }

        .feed-form {
            margin-left: 30px;
        } 
    }

    .carousel {
        img {
            width: 80%;
        }
        .prev, .next {
            display: none;
        }
        .tns-nav {
            display: block;
        }
    }

    .catalog {
        .container {
            max-width: 740px;
        }
        .title {
            font-size: 35px;
        }

        &__tab {
            width: 200px;
        }

        &-item {
            width: 235px;
            &__descr {
                width: 185px;
                font-size: 12px;
            }
            &__list {
                li {
                    font-size: 12px;
                }
            }

            &__footer {
                .catalog-item__price {
                    font-size: 15px;
                }

                .button_mini {
                    width: 105px;
                    &:hover {
                        box-shadow: none;
                    }
                }
            }
        }
    }

    .reviews {

        &__wrapper {
            width: 740px;
            margin: 72px auto 0 auto;
        }

    
        &__block {

            display: flex;
            flex-direction: column;
			align-items: center;
            margin: 0 auto 0 auto;
            
        }

        &__text {
            width: 650px;
            text-align: justify;
        }

        &__img {
            margin: 0 auto;
        }

        hr {
            width: 650px;
            margin: 48px auto 53px auto;
        }    
    }
}

@media (max-width: 767px) {

    .promo {
        .header {
            display: flex;
            justify-content: space-around;
            align-items: center;
            &__logo{
                width: 200px;
            }
            .button {
                &:hover {
                    box-shadow: none;
                }
            }
        }

        &__header {
            font-size: 35px;
        }
    
        &__subheader {
            font-size: 20px;
        }

        .button {
            &:hover {
                box-shadow: none;
            }
        }     
    }

    .benefits {

        .title {
            font-size: 25px;
        }

        &__item {
            width: 200px;
        }

        &__subtitle {
            font-size: 14px;
        }

        &__text {
            font-size: 10px;
        }
    }

    .consultation {

        .title {
            &_left {
                font-size: 28px;
                margin-left: 30px;
            }
        }

        &__text {
            font-size: 18px;
            margin-left: 30px;
        }

        .feed-form {
            margin-left: 30px;
            width: 250px;
        } 
    }

    .button {
        &:hover {
            box-shadow: none;
        }
    }

    .catalog {
        &__content_active {
            display: flex;
            justify-content: center;
        }
        .container {
            max-width: 550px;
        }
        .title {
            font-size: 30px;
        }

        &__tabs {
            margin-top: 55px;
        }

        &__tab {
            width: 200px;
            font-size: 14px;
        }

        &-item {
            width: 235px;
            margin: 10px 10px;
            &__subtitle {
                font-size: 15px;
            }
            &__descr {
                width: 175px;
                font-size: 12px;
            }
            &__list {
                li {
                    font-size: 12px;
                }

            }

            &__footer {
                .catalog-item__price {
                    font-size: 15px;
                }

                .button_mini {
                    width: 105px;
                    &:hover {
                        box-shadow: none;
                    }  
                }
            }
        }
    }

    .reviews {

        &__wrapper {
            width: 540px;
            margin: 72px auto 0 auto;
        }

        &__text {
            width: 480px;
            text-align: justify;
        }

        &__subtitle {
            margin-top: 30px;
            text-align: center;
        }

        &__text-light {
            text-align: center;
        }

        hr {
            width: 480px;
            margin: 48px auto 53px auto;
        }    
    }

    .footer {
        &__info {
            padding: 15px 15px;
            width: 290px;
            height: 200px;
        }
        &__addr {
            margin-bottom: 25px;
            font-size: 16px;
        }
        &__phone {
            font-size: 19px;
        }

        &__social {
            a {
                &:hover {
                    box-shadow: none;
                }
            }
        }

        &__social-item {
            width: 40px;
            height: 40px;
            img {
                height: 22px;
            }
        }
    }
}

@media (max-width: 575px) {
    .promo {
        .header {
            display: flex;
            justify-content: space-around;
            align-items: center;

            &__logo{
                display: none;
            }

            &__official {
                font-size: 11px;
                span {
                    font-size: 12px;
                }
            }

            &__phone {
                margin-top: 10px;
                font-size: 12px;
            }

            &__contacts {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .button {
                &:hover {
                    box-shadow: none;
                }
            }
        }

        &__header {
            font-size: 22px;
        }
    
        &__subheader {
            font-size: 12px;
        }
    
        &__icons {
            margin-top: 65px;
            width: 315px;
            display: flex;
            justify-content: space-between;
        }

        &__icon {
            font-size: 12px;
        }

        &__link {
            margin-top: 18px;
            font-size: 12px;
            font-weight: 500;
            color: #ffffff;
            a {
                font-size: 12px;
            }
        }

        .button {
            width: 115px;
            height: 20px;
            font-size: 10px;
            font-weight: 500;
            text-transform: uppercase;
            color: #ffffff;
            &_main {
                margin-top: 67px;
                width: 230px;
                height: 35px;
                font-size: 14px;
            }
        }
    }

    .benefits {
        padding: 50px 0 25px 0;
        .title {
            font-size: 20px;
        }
   
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__item {
            width: 85%;
            margin-bottom: 45px;
        }

        &__subtitle {
            margin-top: 15px;
            font-size: 16px;
        }

        &__text {
            margin-top: 10px;
            font-size: 14px;
        }     
    }
    
    .consultation {
        .title {
            &_left {
                font-size: 20px; 
            }
        }

        &__text {
            font-size: 14px;
            margin-top: 15px;
        }

        .feed-form {
            width: 230px;
            input {
                height: 38px;
            }

            .button {
                &_submit {
                    height: 35px;
                    font-size: 14px;
                }
            }
        }      
    }

    .catalog {
        .container {
            max-width: 550px;
        }
        &__content {
            margin-top: 40px;
        }

        .title {
            font-size: 20px;
        }

        &__tabs {
            width: 95%;
            margin: 0 auto;
            margin-top: 40px;
        }

        &__tab {
            height: 30px;
            line-height: 30px;
            width: 200px;
            font-size: 10px;
        }

        &-item {
            width: 260px;
            margin: 10px 10px;
            &__subtitle {
                font-size: 15px;
            }
            &__descr {
                width: 175px;
                font-size: 12px;
            }
            &__list {
                li {
                    font-size: 13px;
                }
            }

            &__footer {
                .catalog-item__price {
                    font-size: 16px;
                }

                .button_mini {
                    width: 105px;
                    height: 30px;
                }
            }
        }
    } 
    
    .reviews {

        .title {
            font-size: 24px;
        }

        &__wrapper {
            width: 318px;
            margin: 72px auto 0 auto;
        }

    
        &__block {

            display: flex;
            flex-direction: column;
			align-items: center;
            margin: 0px auto 0 auto;
            
        }

        &__text {
            width: 275px;
            text-align: justify;
            font-size: 15px;
        }

        &__img {
            margin: 0 auto;
        }

        hr {
            width: 275px;
            margin: 48px auto 53px auto;
        }    
    }

    .footer {
        &__info {
            width: 100%
        }
    }

    .modal {
        width: 280px;
        padding: 38px 15px 40px 15px;
        &__subtitle {
            font-size: 15px;
        }
        &__descr { 
            font-size: 12px;
            margin-top: 5px;
        }
        &__close {
            font-size: 32px;
            right: -20px;
            line-height: 16px;
        }
        .feed-form {
            width: 248px;
            input {
                height: 40px;
            }
            .button {
                height: 40px;
                font-size: 15px;
            }
        }
        label.error {
            font-size: 12px;
            line-height: 1px;
        }
    }
}

@media (orientation: landscape) and (max-width: 575px) {

    .modal {
        width: 280px;
        padding: 25px 15px 25px 15px;
        min-height: 100px;
        overflow-y: scroll;
        height: 95%;

        &__close {
            display: none;
        }
    }
}
