.reviews {
  padding-bottom: 71px;
}

.reviews__wrapper {
  display: block;
  margin-top: 72px;
  width: 884px;
}

.reviews__block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews__subtitle {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  color: #0d0d0d;
}

.reviews__text-light {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #646464;
}

.reviews__text {
  margin-top: 18px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 300;
  color: #0d0d0d;
}

.reviews__img {
  margin-right: 62px;
}

.reviews hr {
  background-color: black;
  margin-top: 48px;
  margin-bottom: 53px;
  border-bottom: none;
}
